<section class="w-full h-[95vh] flex justify-center items-center">
  <z-card
    class="w-full max-w-sm"
    zTitle="Create your account"
    zDescription="Enter your email below to create your account"
  >
    <form [formGroup]="registerForm">
      <div class="space-y-4">
        <div class="space-y-2">
          <label
            class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
          >
            Email
          </label>
          <input
            type="email"
            formControlName="username"
            placeholder="m@example.com"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            required
          />
          @if (registerForm.controls['username'].touched) {
            @if (registerForm.controls['username'].errors?.['required']) {
              <div>
                <span class="text-[13px] text-red-500"> This Field is required </span>
              </div>
            }
          }
        </div>
        <div class="space-y-2">
          <div class="flex items-center">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            >
              Password
            </label>
          </div>
          <input
            type="text"
            formControlName="password"
            placeholder="Enter Password"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            required
          />
          @if (registerForm.controls['password'].touched) {
            @if (registerForm.controls['password'].errors?.['required']) {
              <div>
                <span class="text-[13px] text-red-500"> This Field is required </span>
              </div>
            }
          }
        </div>
        <div class="space-y-2">
          <div class="flex items-center">
            <label
              class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            >
              Confirm Password
            </label>
          </div>
          <input
            type="text"
            formControlName="confirmPassword"
            placeholder="Re Enter Password"
            class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            required
          />
          @if (registerForm.controls['confirmPassword'].touched) {
            @if (registerForm.controls['confirmPassword'].errors?.['required']) {
              <div>
                <span class="text-[13px] text-red-500">This field is required</span>
              </div>
            }
            @if (registerForm.controls['confirmPassword'].errors?.['passwordMismatch']) {
              <div>
                <span class="text-[13px] text-red-500">Passwords do not match</span>
              </div>
            }
          }
        </div>
        <div class="space-y-2">
          <button
            z-button
            zType="default"
            class="w-full"
            [disabled]="registerForm.invalid"
            (click)="onregister()"
          >
            Register
          </button>
          <!-- <z-button zType="outline" class="w-full">Login with Google</z-button> -->
        </div>
      </div>
    </form>
  </z-card>
</section>
